body.Black .walkman {
    border: 1px solid #000;
    background-color: #494949;
    background: linear-gradient(15deg, #1a1a1a, #4d4d4d);
  }
  
  .button-center, .navigation, .button-back, .button-option, .volume-buttons, .power-button, .key-volume-button {
    background: linear-gradient(15deg, #1a1a1a, #363636);
  }
  
  .key-button{
    background: linear-gradient(15deg, #292929, #585858);
  }

  .button-center:active{ 
    background-color: rgba(0, 0, 0, 0.5);
  }
  .button-up:active {
    background: linear-gradient(0deg, #2e2e2e, #1a1a1a); 
    width: 120px;
  }
  .button-down:active {
    background: linear-gradient(180deg, #2020208b, #090909);
      width: 120px;
  }
  .button-left:active {
    background: linear-gradient(270deg, #26262644, #1a1a1a);
    height: 120px;
    top: 15px;
    width: 30px;
  }
  .button-right:active {
    background: linear-gradient(90deg, #26262644, #1a1a1a);
    height: 120px;
    top: 15px;
    width: 30px;
  }
  