.walkman {
  position: relative; /* Ensure child elements are positioned correctly */
  width: 200px;
  height: 460px;
  border-radius: 8px;
  border: 1px solid #000;
  position: relative;
  background-color: #494949;
  background: linear-gradient(15deg, #1a1a1a, #4d4d4d);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.bezel {
  width: 185px;
  height: 252px;
  border-radius: 12px;
  border: 1px solid #5a5a5a;
  background-color: #030303;
  background: linear-gradient(15deg, #0d0d0d, #030303);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.screen {
  width: 120px;
  height: 234px;
  border-radius: 3px;
  border: 1px solid #0c0c0c;
  background-color: #494949;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  overflow: hidden;
}

.music-screen,
.photos-screen,
.radio-screen,
.settings-screen,
.playlists-screen,
.playback-screen {
  width: 150px;
  height: 194px;
  background-color: #0d0d0d;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 12px;
  overflow-y: auto;
}

.photos-screen input[type="file"] {
  width: 100%;
  font-size: 12px;
}

.radio-screen .station {
  font-size: 12px;
}

.sony-logo {
  position: absolute;
  top: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.button { 
  padding: 10px 20px; 
  margin: 5px; 
  border: none; 
  background-color: #eee; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
} 
.button:active, 
.button.active { 
  background-color: #ccc; /* Change color when active */
}

.button-center {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background-color: #363636;
  color: #fff;
  border: 1px solid #000;
  background: linear-gradient(15deg, #1a1a1a, #363636);
  box-shadow: inset 1px -2px 1px -1px #00000094, inset -2px 3px 2px -3px #ffffffad, 0 0 0 0; /* Updated box shadow */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 40px;
}

.button-up,
.button-down,
.button-left,
.button-right {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.button-back,
.button-option {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  border: 1px solid #000;
  font-size: 10px;
  top: 10px;
  z-index: 2;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.button-back:active {
  background: linear-gradient(15deg, #1a1a1a, #292929);
}

.button-option:active {
  background: linear-gradient(15deg, #1a1a1a, #292929);
}

.button-center:active {
 background: linear-gradient(15deg, #1a1a1a, #292929);
 }

.button-up:active {
  background: linear-gradient(0deg, #2e2e2e, #1a1a1a); 
  width: 120px;
}
.button-down:active {
  background: linear-gradient(180deg, #2020208b, #090909);
    width: 120px;
}
.button-left:active {
  background: linear-gradient(270deg, #26262644, #1a1a1a);
  height: 120px;
  top: 15px;
  width: 30px;
}
.button-right:active {
  background: linear-gradient(90deg, #26262644, #1a1a1a);
  height: 120px;
  top: 15px;
  width: 30px;
}

.button-up {
  top: 0px;
}

.button-down {
  bottom: 0px;
}

.button-left {
  top: 60px;
  left: 0px;
}

.button-right {
  top: 60px;
  right: 0px;
}

.navigation {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #363636;
  border: 1px solid #000;
  background: linear-gradient(15deg, #1a1a1a, #363636);
  box-shadow: inset 1px -2px 1px 0px #00000094, inset -2px 2px 2px -2px #ffffffad, 0 0 0 0; /* Updated box shadow */
  top: 10px;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.button-back {
  left: -50px;
  background: linear-gradient(15deg, #1a1a1a, #363636);
  box-shadow: inset 1px -2px 1px -1px #00000094, inset -2px 3px 2px -3px #ffffff92, 0 0 0 0; /* Updated box shadow */
  transition: background-color 0.3s, box-shadow 0.3s;
}

.button-option {
  right: -50px;
  background: linear-gradient(15deg, #1a1a1a, #363636);
  box-shadow: inset 1px -2px 1px -1px #00000094, inset 0px 1px 2px -1px #ffffffad, 0 0 0 0; /* Updated box shadow */
}

.walkman-logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
  color: #fff;
}

.button-home,
.button-power {
  position: relative;
  font-size: 11px;
  color: #fff;
}

.button-home {
  top: -10px;
  left: -47px;
}

.button-power {
  top: -10px;
  right: -47px;
}

.key-button::after {
  top: 16px;
  left: 22px;
  background: linear-gradient(30deg, #d9d9d9, #1a1a1a);
}

.volume-buttons {
  position: absolute;
  width: 2px;
  height: 85px;
  background-color: #494949;
  border: 1px solid #0e0e0e;
  background: linear-gradient(15deg, #1a1a1a, #494949);
  top: 55px;
  right: -4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.power-button {
  position: absolute;
  width: 2px;
  height: 10px;
  background-color: #494949;
  border: 1px solid #0e0e0e;
  background: linear-gradient(15deg, #0e0e0e, #1a1a1a);
  top: 220px;
  right: -4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Key button indicator for center button */
.key-button {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: linear-gradient(45deg, #292929, #585858);
  top: 45px; /* Adjust position to be centered below the play-pause icon */
  left: 30px; /* Adjust position to be centered below the play-pause icon */
}

.key-volume-button {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #494949;
  background: linear-gradient(60deg, #494949, #1a1a1a);
  top: 65px;
  right: -6px;
}

.home-screen {
  width: 150px;
  height: 194px;
  background-image: url('../assets/sony-walkman-nw-e394-background-1.jpg'); /* Background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #050505, #494949);
  position: fixed;
  z-index: 1000;
}

.screen-content {
  flex: 1; /* Take up remaining space */
  overflow-y: auto; /* Scrollable content */
}

.screen-content::-webkit-scrollbar {
  width: 3px; /* Chrome, Safari */
}

.screen-content::-webkit-scrollbar-track {
  background: #333;
}

.screen-content::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.status-icon {
  top: -2px;
  display: flex;
  background-color: transparent; /* Placeholder for icons */
}

img.song-status {
  margin-left: 4px;
}

.battery-icon {
  top: -2px;
  background-color: transparent; /* Placeholder for battery icon */
  margin-right: 3px;
}

.grid {
  display: grid;
  margin-top: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  padding: 30px 10px 10px 10px;
}

img.icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon.glow {
  box-shadow: 0 0 5px 1px rgb(255, 200, 0);
  border-radius: 5px;
}

/*
.photos,
.music,
.fm-radio,
.settings,
.playlists,
.playback { 
  background-color: rgb(152, 152, 152);
}  icons */

.highlighted-text {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 14px;
  padding: 12px 0;
}

.theme-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-y: auto;
}

.theme-list::-webkit-scrollbar {
  width: 3px; /* Chrome, Safari */
}

.theme-list::-webkit-scrollbar {
  width: 3px; /* Chrome, Safari */
}

.theme-list::-webkit-scrollbar-track {
  background: #333;
}

.theme-list::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 2px;
}

.theme-list li {
  padding: 10px;
  cursor: pointer;
  width: auto;
  position: relative;
}

.theme-list li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: radial-gradient(circle, transparent, #333);
}

.theme-list li.selected {
  background: linear-gradient(to top, transparent, rgba(255, 255, 255, 0.3) 50%, transparent);
}

.settings-screen {
  display: flex;
  flex-direction: column;
  background-color: #0d0d0d;
}

.audio-player { 
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
