.walkman {
  position: relative; /* Ensure child elements are positioned correctly */
  width: 162px;
  height: 357px;
  border-radius: 8px;
  border: 1px solid #000;
  position: relative;
  background-color: #494949;
  background: linear-gradient(15deg, #1a1a1a, #4d4d4d);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.bezel {
  width: 145px;
  height: 182px;
  border-radius: 12px;
  border: 1px solid #5a5a5a;
  background-color: #030303;
  background: linear-gradient(15deg, #0d0d0d, #030303);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.screen {
  width: 120px;
  height: 134px;
  border-radius: 3px;
  border: 1px solid #0c0c0c;
  background-color: #494949;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  overflow: hidden;
}

.music-screen,
.photos-screen,
.radio-screen,
.settings-screen,
.playlists-screen,
.playback-screen {
  width: 120px;
  height: 134px;
  background-image: url('../assets/sony-walkman-nw-e394-background.jpg'); /* Background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 10px;
  overflow-y: auto;
}

.photos-screen input[type="file"] {
  width: 100%;
  font-size: 10px;
}

.radio-screen .station {
  font-size: 10px;
}

.sony-logo {
  position: absolute;
  top: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.button-center {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #363636;
  color: #fff;
  border: 1px solid #000;
  background: linear-gradient(15deg, #1a1a1a, #363636);
  box-shadow: inset 1px -2px 1px -1px #00000094, inset -2px 3px 2px -3px #ffffffad, 0 0 0 0; /* Updated box shadow */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 40px;
}

.button-up,
.button-down,
.button-left,
.button-right,
.button-back,
.button-option {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #363636;
  border: none;
}

.button-back,
.button-option {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  border: 1px solid #000;
}

.button-up {
  top: 0px;
}

.button-down {
  bottom: 0px;
}

.button-left {
  top: 50px;
  left: 0px;
}

.button-right {
  top: 50px;
  right: 0px;
}

.navigation {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #363636;
  border: 1px solid #000;
  background: linear-gradient(15deg, #1a1a1a, #363636);
  box-shadow: inset 1px -2px 1px 0px #00000094, inset -2px 2px 2px -2px #ffffffad, 0 0 0 0; /* Updated box shadow */
  top: 10px;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
}

.button-back,
.button-option {
  width: 45px;
  height: 45px;
  font-size: 10px;
  top: 10px;
  z-index: 2;
}

.button-back {
  left: -40px;
  background: linear-gradient(15deg, #1a1a1a, #363636);
  box-shadow: inset 1px -2px 1px -1px #00000094, inset -2px 3px 2px -3px #ffffff92, 0 0 0 0; /* Updated box shadow */
}

.button-option {
  right: -40px;
  background: linear-gradient(15deg, #1a1a1a, #363636);
  box-shadow: inset 1px -2px 1px -1px #00000094, inset 0px 1px 2px -1px #ffffffad, 0 0 0 0; /* Updated box shadow */
}

.walkman-logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
  color: #fff;
}

.button-home,
.button-power {
  position: relative;
  font-size: 11px;
  color: #fff;
}

.button-home {
  top: -10px;
  left: -33px;
}

.button-power {
  top: -10px;
  right: -33px;
}

.key-button::after {
  top: 16px;
  left: 22px;
  background: linear-gradient(30deg, #d9d9d9, #1a1a1a);
}

.volume-buttons {
  position: absolute;
  width: 2px;
  height: 85px;
  background-color: #494949;
  border: 1px solid #0e0e0e;
  background: linear-gradient(15deg, #1a1a1a, #494949);
  top: 55px;
  right: -4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.power-button {
  position: absolute;
  width: 2px;
  height: 10px;
  background-color: #494949;
  border: 1px solid #0e0e0e;
  background: linear-gradient(15deg, #0e0e0e, #1a1a1a);
  top: 220px;
  right: -4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Key button indicator for center button */
.key-button {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: linear-gradient(45deg, #1a1a1a, #494949);  top: 33px; /* Adjust position to be centered below the play-pause icon */
  left: 23px; /* Adjust position to be centered below the play-pause icon */
}

.key-volume-button {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #494949;
  background: linear-gradient(60deg, #494949, #1a1a1a);
  top: 65px;
  right: -6px;
}

.home-screen {
  width: 120px;
  height: 134px;
  background-image: url('../assets/sony-walkman-nw-e394-background.jpg'); /* Background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #120323;
}

.status-icons {
  display: flex;
  padding: 3px 3px;
}

.play-pause,
.song-status {
  width: 8px;
  height: 8px;
  background-color: #fff; /* Placeholder for icons */
  margin-right: 4px;
}

.battery-icon {
  width: 15px;
  height: 8px;
  background-color: #fff; /* Placeholder for battery icon */
  margin-right: 3px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  padding: 10px 0;
}

.icon {
  width: 25px;
  height: 25px;
  border: 2px solid #7e7e7e;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 8px;
  cursor: pointer;
}

.icon.glow {
  box-shadow: 0 0 10px 2px rgb(255, 225, 0);
  border-radius: 5px;
}

.photos { background-color: rgb(152, 152, 152); } /* Placeholder for Photos icon */
.music { background-color: rgb(152, 152, 152); } /* Placeholder for Music icon */
.fm-radio { background-color: rgb(152, 152, 152); } /* Placeholder for FM Radio icon */
.settings { background-color: rgb(152, 152, 152); } /* Placeholder for Settings icon */
.playlists { background-color: rgb(152, 152, 152); } /* Placeholder for Playlists icon */
.playback { background-color: rgb(152, 152, 152); } /* Placeholder for Playback icon */

.highlighted-text {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 10px;
  padding: 5px 0;
}
