.app {
  text-align: center;
}

.playlist, .search {
  margin: 20px;
}

.search input {
  padding: 5px;
  font-size: 16px;
}

.search button {
  padding: 5px 10px;
  font-size: 16px;
}

.playlist ul {
  list-style: none;
  padding: 0;
}

.playlist li {
  margin: 5px 0;
  font-size: 18px;
}
